html, body, div, span, object, iframe, ul, li, a, b, 
h1, h2, h3, h4, h5, h6, p, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
}


/*---------------------------------------------*/

header {
    background-image: url("../images/wallpaper.png");
    position: relative;
    height: 1000px;
    min-height: 900px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFFFF0;
  font-family: 'opensans-bold', sans-serif;
  font-weight: normal;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 38px; line-height: 42px; margin-bottom: 12px; letter-spacing: -1px; }
h2 { font-size: 28px; line-height: 36px; margin-bottom: 6px; }
h3 { font-size: 22px; line-height: 30px; margin-bottom: 12px; }
h4 { font-size: 20px; line-height: 30px; margin-bottom: 6px; }
h5 { font-size: 18px; line-height: 30px; }

p { margin: 0 0 30px 0; }
p img { margin: 0; }
p {
  color: #A8A8A8;
  font: 19px/36px 'opensans-light', sans-serif;
  margin-bottom: 18px;
}

ul {
  color: #FFFFF0;
  font: 19px/16px 'opensans-light', sans-serif;
}

/*--------------------------------------------- */
/* navigation. */
ul#nav {
    /*min-height: 15px;*/
    width: auto;
    /* center align the menu */
    text-align: center;
}

ul#nav li {
   position: relative;
   list-style: none;
   /*height: 15px;*/
   display: inline-block;
     /*border-bottom:1px dotted;*/
 }
 
/* Links */
ul#nav li a {
 
/* 8px padding top + 8px padding bottom + 32px line-height = 48px */
 
  display: inline-block;
  padding: 8px 13px;
  line-height: 40px;
  font-size: 20px;
  text-decoration: none;
  text-align: left;
  color: #FFFFF0;
 
}

ul#nav li a:hover {
 transform: scale(1.3);
 border-radius: 50%;
}
 
ul#nav li a:active {
  background-color: transparent !important;
  color: #FAF0E6;
}
 
 ul#nav li.current a {
   color:#FFFFF0;
 }
 
 span {
  color: #FAF0E6;
 }
 /*-----------------------------------------------------*/

.title h1 {
  color: #FAF0E6;
  padding-top: 300px;
  padding-bottom: 30px;
  font-size: 70px;
  position: relative;
  text-align: center;
}

.title p {
  /*color: #FAF0E6;*/
  color: #A8A8A8;
  position: relative;
  text-align: center;
}

/*-------------------------------------------------------------*/


/*Icons */

.icons b {
  margin: 20px 20px;
  width: 70px;
  height: 70px;
  background-color: #ccc;
  display: inline-block;
  border-radius: 24px;
  box-shadow: 6px 6px 12px rgba(0,0,0,.15),
              -6px -6px 12px rgba(255,255,255,.1);
  overflow: hidden;
  font-size: 28px;
  transition: .3s linear;
  position: relative;
}

 .icons b:hover {
    transform: scale(1.3);
    border-radius: 50%;
 }

 .icons b img::before{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background-size: 200% 200%;
    background-position: 6% 6%;
    bottom: 8%;
    left: 0;
    line-height: 80px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background .5s linear;
  }
  
 .icons b i::before{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background-size: 200% 200%;
    background-position: 6% 6%;
    bottom: 8%;
    left: 0;
    line-height: 80px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background .5s linear;
    
  }
  
  .icons b:hover i::before{
    background-position: 0% 0%;
  }
  
  #wrapper {
    padding-bottom: 250px;
  }
  #wrapper img{
    position: relative;
    top: 17%;
    height: 40px;
  }
  
  .fa-github::before{
    background-image: linear-gradient(135deg,#3b5998 30%,#0a3d62 50%);
  }
  .fa-linkedin-in::before{
    background-image: linear-gradient(135deg,#007bb5 30%,#0a3d62 50%);
  }

  .icons fa-caret-square-down::before {
    background-image: linear-gradient(135deg,#007bb5 30%,#0a3d62 50%);
}

/*-------------------------------------*/

.scroll b {
  width: 60px;
  height: 50px;
  background-color: #ccc;
  display: inline-block;
  border-radius: 24px;
  box-shadow: 6px 6px 12px rgba(0,0,0,.15),
              -6px -6px 12px rgba(255,255,255,.1);
  overflow: hidden;
  font-size: 28px;
  transition: .3s linear;
  position: relative;
}


.scroll b:hover {
  transform: scale(1.3);
  border-radius: 50%;
}

.scroll b i::before{
  position: relative;
  width: 100%;
  height: 65%;
  text-align: center;
  background-size: 100% 200%;
  background-position: 20% 20%;
  top: 0;
  left: 0;
  line-height: 180%;
  -webkit-background-clip: text;
  /*-webkit-text-fill-color: transparent;*/
  transition: background .5s linear;
}

.scroll b:hover i::before{
  background-position: 0% 0%;
}

/*------------------------------------------*/

footer {
  background-color: #303030;
  color: #303030;
  font-size: 14px;
  text-align: center;
  position: relative;
}

.copyright {
  padding: 10px;
}