@media screen and (max-width:959px) {
    #homePage{       
        height: 1000px;
    }
}

@media screen and (max-width:629px) {
    ul#nav li a{
        font-size: 16px;
    }
    .title h1{
        padding-top: 150px;
        font-size: 60px;
    }
    .title p{
        font-size: 16px;
        margin-top: 0;
        position: relative;
        text-align: center;
    }    
}


@media screen and (max-width:959px) {
    #projects img {       
        height: 350px;
        width: 450px;
    }
}
