@media screen and (max-width:959px) {
    #homePage{       
        height: 1000px;
    }
}

@media screen and (max-width:629px) {
    ul#nav li a{
        font-size: 16px;
    }
    .title h1{
        padding-top: 200px;
        font-size: 60px;
    }
    .title p{
        font-size: 16px;
        margin-top: 0;
        position: relative;
        text-align: center;
    }
    .container li:before {
        content: "";
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        width: 90%;
        height: 15px;
        background-color: rgba(54, 126, 223, .5);
        border-radius: 1000px;
    }
    
}


@media screen and (max-width:959px) {
    #projects img {       
        height: 350px;
        width: 450px;
    }
}
