#profile {
    background: #2B2B2B;
    position: relative;
    max-width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
}

#profile .profile-pic {
    position: relative;
    margin-top: 60px;
    width: 260px;
    height: 260px;
    padding:1px;
    border:1px solid #021a40;
    border-radius: 100%;
    margin-left: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.main h2 {
    font: 30px/30px 'opensans-bold', sans-serif;
    color: #fff;
    margin-top: 40px;
}

.skillsSection h2 {
    font: 30px/30px 'opensans-bold', sans-serif;
    color: #fff;
    margin-top: 40px;
 }

 .main p {
    font: 20px/20px 'opensans-bold', sans-serif;
    line-height: 30px;
    color: #7A7A7A;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
 }

 .main h3 {
    font: 'opensans-bold', sans-serif;
    padding-top: 20px;
    color: #7A7A7A;
    margin-left: 5%;
    margin-right: 5%;
 }
 .main span {
    color: #7A7A7A;
 }

 .Exp {
    padding-top: 30px;
 }

 /*----------------------------------Skills section*/
* {
    margin: 0;
    padding: 0;
}

.skillsSection {
    width: 450px;
    margin: 10px auto 0;
    padding: 20px;
}

.skillsSection li {
    position: relative;
    list-style: none;
    margin: 50px 0;
    font-weight: 500;
    color: #7A7A7A;
    text-transform: uppercase;
}

.skillsSection li:before {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: 15px;
    background-color: rgba(54, 126, 223, .5);
    border-radius: 1000px;
}

.skillsSection li:after {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 15px;
    background-color: rgba(54, 126, 223, 1);
    border-radius: 1000px;
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.skillsSection li.java:after {
    animation-name: java;
}

@keyframes java {
    to {
        width: 60%;
    }
}

.skillsSection li.cpp:after {
    animation-name: cpp;
}

@keyframes cpp {
    to {
        width: 30%;
    }
}

.skillsSection li.html:after {
    animation-name: html;
}

@keyframes html {
    to {
        width: 50%;
    }
}

.skillsSection li.css:after {
    animation-name: css;
}

@keyframes css {
    to {
        width: 40%;
    }
}

.skillsSection li.js:after {
    animation-name: js;
}

@keyframes js {
    to {
        width: 30%;
    }
}

.skillsSection li.php:after {
    animation-name: php;
}

@keyframes php {
    to {
        width: 25%;
    }
}

.skillsSection li.react:after {
    animation-name: react;
}

@keyframes react {
    to {
        width: 25%;
    }
}

.skillsSection li.scala:after {
    animation-name: scala;
}

@keyframes scala {
    to {
        width: 20%;
    }
}