#projects {
    /*background: #fff;*/
    background: #29648A;
    position: relative;
    max-width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
}

#projects h2 {
    font: 50px/50px 'opensans-bold', sans-serif;
    color: #fff2df;
    margin-top: 30px;
    margin-bottom: 50px;
}


#projects a {
    position: relative;
    font: 'opensans-bold', sans-serif;
    font-size: 25px;
    /*color: #32404b;*/
    color: #fff2df;
    border-bottom: 1px solid #3997dc;
    text-decoration: none;
    background-color: transparent;
}

#projects p {
    font: 'opensans-bold', sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

#projects video {
    width: 80%;
    height: auto;
    margin-bottom: 50px;
    margin: 0 auto;
	border: 5px solid;
}

#projects img {
    width: 80%;
    height: auto;
    margin-bottom: 50px;
    outline-style: solid;
}

.MappingTechnologies {
    margin-bottom: 50px;
}

/*Personal Projects ---------------------------------------------------------------*/

#personProjects {
    background: #ffffff;
    position: relative;
    max-width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    padding-bottom: 60px;
}
.personal {
    text-align: center;
}

#personProjects h2 {
    font: 50px/50px 'opensans-bold', sans-serif;
    color: #32404b;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

#personProjects a {
    position: relative;
    font: 'opensans-bold', sans-serif;
    font-size: 25px;
    color: #32404b;
    border-bottom: 1px solid #3997dc;
    text-decoration: none;
    background-color: transparent;
}

#personProjects p {
    text-align: center;
    font: 'opensans-bold', sans-serif;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
    color: #2F4454;
}

#personProjects img {
    width: 80%;
    height: auto;
    margin-bottom: 50px;
    outline-style: solid;
}

#personProjects .instr {
    color: #A9A9A9;
}