#projects {
    background: #fff;
    position: relative;
    max-width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
}

#projects h2 {
    font: 50px/50px 'opensans-bold', sans-serif;
    color: #32404b;
    margin-top: 30px;
    margin-bottom: 50px;
}

#projects a {
    position: relative;
    font: 'opensans-bold', sans-serif;
    font-size: 25px;
    color: #32404b;
    border-bottom: 1px solid #3997dc;
    text-decoration: none;
    background-color: transparent;
}

#projects p {
    margin-top: 30px;
    margin: 10px;
}

#projects video {
    width: 80%;
    height: auto;
    margin-bottom: 50px;
}

#projects img {
    width: 80%;
    height: auto;
    margin-bottom: 50px;
}

/*Personal Projects ---------------------------------------------------------------*/

#personalProjects {
    background: #ebeeee;
    position: relative;
    max-width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
}
.personal {
    text-align: center;
}

#personProjects h2 {
    font: 50px/50px 'opensans-bold', sans-serif;
    color: #32404b;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

#personProjects a {
    position: relative;
    font: 'opensans-bold', sans-serif;
    font-size: 25px;
    color: #32404b;
    border-bottom: 1px solid #3997dc;
    text-decoration: none;
    background-color: transparent;
}

#personProjects p {
    text-align: center;
    margin-top: 30px;
    margin: 10px;
}

#projects video {
    width: 80%;
    height: auto;
    margin-bottom: 50px;
}

#personProjects img {
    width: 80%;
    height: auto;
    margin-bottom: 50px;
}